<% @page_title = @search.blank? ? "Search" : %Q{Search for "#{h(params[:q])}"} -%>
<h1>
  <%= @search.blank? ? "Search" : %Q{Search for "#{h(params[:q])}"} -%>
</h1>

<%= render :partial => "search_box" -%>

<div class="search_results">
  <% if @results.empty? -%>
    <p>Sorry, no results for "<%=h params[:q] -%>"</p>
  <% else -%>
    <% @results.each do |result| -%>
    <div class="item">
      <%= render :partial => result %>
    </div>
    <% end -%>
    <%= will_paginate(@results) -%>
  <% end -%>

  <p class="hint">
    <small>Found <%= @results.total_entries -%> results</small>
  </p>
</div>